html {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Arial;
	width:100%;
    min-height: 100%;
}

*{
 background-color:#add8e6;
}

table {
    width: 100%;
    min-height: 100vh;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 25px;
}

.zgornja-vrstica td,
.zgornja-vrstica h1 {
    background-color: #8fc6d8;
}

.vrstica,
.vrstica b {
    background-color: #2f6f91;
    color: white;
}

.vrstica a {
    color: black;
}

.naslov {
    width: 30%;
}

h1 {
    margin: 0;
    font-size: 42px;
    font-weight: normal;
}

.meni {
    padding-top: 32px;
}

.prijava {
    text-align: right;
    padding-top: 32px;
}

a {
    display: inline-block;
    text-align: center;
    background-color: #f4d8c5;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 15px;
    margin: 4px;
}

a:hover {
    background-color: #e8b99d;
}

.uvod {
    padding-top: 60px;
    padding-bottom: 60px;
}

.slika {
    width: 100%;
    text-align: center;
    padding: 20px;

}

.slika img {
    width: 80%;
    max-width: 800px;
    height: auto;
}

.vrstica {
    padding-top: 25px;
    padding-bottom: 25px;
	text-align:center;
}
.kategorije {
    padding-top: 25px;
    padding-bottom: 25px;

}

.besedilo {
    text-align: center;
    padding: 40px;
    line-height: 1.6;
}

.opis {
    display: inline-block;
    border: 2px solid #2f6f91;
    border-radius: 10px;
    padding: 18px;
    margin-left: 35px;
    width: 85%;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;
    font-style: italic;
}

.osnovni-recepti {
    display: inline-block;
    border: 2px solid #2f6f91;
    border-radius: 10px;
    padding: 20px 35px;
    margin-top: -45px;
}

.vrstica b {
    display: inline-block;
    margin: 4px 40px 4px 4px;
}

.kategorije-vrstica a {
    width: 15%;
}

.recepti-vrstica a {
    width: 25%;
}

button {
    display: block;
    background-color: #f4d8c5;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px auto;
    width: 160px;
}

button:hover {
    background-color: #e8b99d;
}

.recepti {
    border-collapse: separate;
    border-spacing: 30px;
}

.kartica {
    width: 250px;
    border: 1px solid black;
}

.mala-slika {
    height: 120px;
    border: 1px solid black;
    text-align: center;
    padding-top: 60px;
}

.noga {
    text-align: center;
    padding: 30px;
}
